<app-chart [chartDataBus]="chartDataBus"></app-chart>
<div>
  <md2-datepicker type="datetime" [(ngModel)]="dateFrom"></md2-datepicker>
  <md2-datepicker type="datetime" [(ngModel)]="dateTo"></md2-datepicker>
  <button mat-button (click)="getConsumptions()" [disabled]="!canSearch()">Search</button>
</div>
<mat-select placeholder="granulation" [(value)]="currentGranulation" (selectionChange)="onGranulationChange($event)">
  <mat-option *ngFor="let g of granulations" [value]="g">
    {{ g.type }}
  </mat-option>
</mat-select>
<mat-select placeholder="Device" [(value)]="deviceId">
  <mat-option *ngFor="let dev of devices" [value]="dev">
    {{ dev.id }}
  </mat-option>
</mat-select>
