<app-chart [chartDataBus]="chartDataBus"></app-chart>
<div>
  <md2-datepicker type="datetime" [(ngModel)]="dateFrom"></md2-datepicker>
  <md2-datepicker type="datetime" [(ngModel)]="dateTo"></md2-datepicker>
  <button mat-button (click)="getConsumptions()" [disabled]="!canSearch()">Search</button>
</div>
<mat-select placeholder="granulation" [(value)]="currentGranulation" (selectionChange)="onGranulationChange($event)">
  <mat-option *ngFor="let g of granulations" [value]="g">
    {{ g.type }}
  </mat-option>
</mat-select>

<mat-selection-list #devicesView>
  <h3 mat-subheader>Devices</h3>
  <mat-list-option *ngFor="let dev of devices" [checkboxPosition]="before" [value]="dev">
    <div>
      <div>
        {{ dev.id }}
        <mat-slide-toggle [checked]="dev.state" (click)="stopProp($event)" (change)="onStateChange($event, dev)"
                          labelPosition="before">
          State
        </mat-slide-toggle>
      </div>
      <div>
        {{ dev.description }}
      </div>
    </div>
  </mat-list-option>
</mat-selection-list>
